<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$class.academy.name}-{$class.classname}班主页</title>
<link href="__CSS__/templatemo_style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__CSS__/orman.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__CSS__/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="__CSS__/ddsmoothmenu.css" />
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/ddsmoothmenu.js"></script>
<script type="text/javascript">
ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

<link rel="stylesheet" href="__CSS__/slimbox2.css" type="text/css" media="screen" /> 
<script type="text/JavaScript" src="__JS__/slimbox2.js"></script> 
</head>
<body>
<include file="common/top_nav"/>
<div id="templatemo_wrapper_h">
<div id="templatemo_header_wh">
	<div id="templatemo_header" class="header_home">
    	<div id="site_title"><a href="./index.php" ></a></div>
        <div id="templatemo_menu" class="ddsmoothmenu">
            <include file="common/nav" />
 			<include file="common/search" />
            <br style="clear: left" />
        </div> 
        <a href="#" title="visit "  class="site_repeat" target="_blank"><img src="__IMG__/top_repeat.png"  alt="visit " /></a><!-- end of templatemo_menu -->

        <div class="slider-wrapper theme-orman">
            <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
            	<volist name="indexPhotoData" id="vo">
               	 <img src="{$vo.photo.filename}" alt="123123" title="{$vo.description}" />
               </volist>
               <!--  
                <a href="">
                	<img src="__IMG__/portfolio/02.jpg" alt="slider image 2" title="激情C01  快乐共分享" />
                </a>
                <img src="__IMG__/portfolio/03.jpg" alt="slider image 3" title="相亲相爱一家人"/>
                <img src="__IMG__/portfolio/04.jpg" alt="slider image 4" title="和同学们在一起 干活都不累了" />
                <img src="__IMG__/portfolio/05.jpg" alt="slider image 5" title="精彩的班会" />
                -->
                
            </div>
        </div> 
		<script type="text/javascript" src="__JS__/jquery-1.6.1.min.js"></script>
        <script type="text/javascript" src="__JS__/jquery.nivo.slider.pack.js"></script>
        <script type="text/javascript">
        $(window).load(function() {
            $('#slider').nivoSlider({
				controlNav:false
			});
        });
        </script>
    </div> <!-- END of header -->
</div> <!-- END of header wrapper -->
<div id="templatemo_main_wrapper">
<div id="templatemo_main">
	<include file="common/left" /> 
    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >Website Template</a></div>
    <div id="content" class="right">
		<h2>欢迎来到{$class.classname}之家<a href="javascript:void(0)" style="font-size: 16px;color:blue;" id="editBtn">编辑</a></h2>
		<div id="classIntDiv">{$class.classinfo.introduce|htmlspecialchars_decode}</div>
    	
    	<script type="text/JavaScript">
    	$(function(){
			$("#classIntEditDiv").hide();
			$("#classIntDiv").show();
			$("#editBtn").click(function(){
				$("#classIntDiv").hide();
				$("#classIntEditDiv").show();
			});
		});
		</script>
    	<div id="classIntEditDiv" >
			<iframe id="classIntEditFrame" src="{:U('classIntEdit')}" style="width:800px;height:500px;"></iframe>
		</div>
    </div>
   
    <div class="cleaner"></div>
</div> <!-- END of main -->
</div> <!-- END of main wrapper -->

<div id="templatemo_footer_wrapper">
<div id="templatemo_footer">
	<div class="footer_left">
    	<a href="#"><img src="__IMG__/1311260370_paypal-straight.png" alt="Paypal" /></a>
        <a href="#"><img src="__IMG__/1311260374_mastercard-straight.png" alt="Master" /></a>
        <a href="#"><img src="__IMG__/1311260374_visa-straight.png" alt="Visa" /></a>
    </div>
	<div class="footer_right">
		<p><a href="index.php">Home</a> | <a href="products.html">Products</a> | <a href="about.html">About</a> | <a href="faqs.html">FAQs</a> | <a href="checkout.html">Checkout</a> | <a href="contact.html">Contact</a></p>
        <p>Copyright © 2084 <a href="#">Company Name</a> | Collect from <a href="http://www.cssmoban.com/" title="模板之家">模板之家</a></p>
	</div>
    <div class="cleaner"></div>
</div> <!-- END of footer -->
</div> <!-- END of footer wrapper -->
</div>

</body>
<script type='text/javascript' src='__JS__/logging.js'></script>
</html>