@charset "utf-8";



.loginBox { height:600px; margin-top:69px;position: relative;}
.loginBox .left_bigpic{height: 400px;min-width: 600px;}
.regBox{
	margin-top:0px;
	height:448px;
	width:380px;
	background-color:#ffffff;
	float:right;
	border:#dadada solid 1px;
	right: -31px;
	position: absolute;
	top: 13px;
}
.regBox .inner{ width:292px; margin:0 auto;}
.inner { font-family:"微软雅黑","黑体","宋体","Arial","Times New Roman";}
.info{ color:#575757; font-weight:600; margin-bottom:10px;display:block; }
.usr{ width:280px; height:35px; border:#dadada solid 1px; color:#999999;   padding:0px 5px;_padding:0px 5px;line-height: 35px;}
.eInfo{display:none;color:#dd5044;}
.regBox .inner #pw {  margin-bottom:4px;}
.verify { width:172px; height:35px; border:#dadada solid 1px; color:#999999;  font-size:14px; padding-left:5px; float:left; margin-right:5px;}
.verify1 { width:112px;}
#vercode{width: 130px;}
.pic{float: left;height: 25px;margin-right: 5px; line-height: 35px;}
.error{display:none;background:url("https://account.oppo.com/resource/images/deepblue/icons.png") no-repeat; width:16px; height:16px; background-position:-64px -80px; float:left;margin-top:3px;margin-right:2px;}
.errorIcon{background:url("https://account.oppo.com/resource/images/deepblue/icons.png") no-repeat; width:16px; height:16px; background-position:-64px -80px; vertical-align: middle;display: inline-block;margin-right:3px;margin-left: 5px;}
.rightIcon{background:url("https://account.oppo.com/resource/images/deepblue/icons.png") no-repeat; width:16px; height:16px; background-position:-64px -56px;  vertical-align: middle;display: inline-block;margin-right:3px;margin-left: 5px;}
.errorMsg{color:#dd5044;font-size: 12px;}
.rightMsg{font-size: 12px;color: #CCCCCC;}
.right_tips{background:url("https://account.oppo.com/resource/images/deepblue/icons.png") no-repeat; width:16px; height:16px; background-position:-64px -56px;  position:absolute; right:16px; display:none;right:16px; display:none;}
.right1{top:100px;}
.right2{top:158px;}
.right3{top:223px;}


.pEor{ margin-top:3px;}
#vUnmatch{ }
#logYan { }
.yanzheng .back {background:url("https://account.oppo.com/resource/images/deepblue/icons.png") no-repeat; width:16px; height:16px; background-position:-64px -128px; cursor:pointer;display:block;float:left;margin-top:10px;}
.yanzheng1{line-height:37px;}
.back1 {background:url("https://account.oppo.com/resource/images/deepblue/icons.png") no-repeat; width:16px; height:16px; background-position:-64px -128px; cursor:pointer;display:inline-block;line-height:36px;vertical-align:middle;}
.free_l { float:left; color:#878787;margin-left: 5px;}
.ctime{ cursor:pointer;}
.blue{ float:right; color:#0088cc;}
.blue1{color:#0088cc;}
.blue:hover,.blue1:hover { color:#00925f; text-decoration:underline; }
.gBtn { background-color:#6699CC;width:292px; height:41px; border:none; color:#fff;font-size:16px;cursor:pointer;  -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;margin-top: 25px;}
.check {background:url("https://account.oppo.com/resource/images/deepblue/icons.png") no-repeat;background-position: -8px -104px;}
.uncheck{background-position: -8px -32px;}
.login_ctime{ width:16px; height:16px; float:left; margin-top:2px;}
.qq{ background:url("https://account.oppo.com/resource/images/deepblue/icons.png?v=0212") no-repeat; width:16px; height:16px; background-position:-8px -128px; cursor:pointer; float:left;}
.weibo{background:url("https://account.oppo.com/resource/images/deepblue/icons.png?v=0212") no-repeat; width:16px; height:16px; background-position:-8px -152px; cursor:pointer; float:left;margin-left:6px;}
.alipay{background:url("https://account.oppo.com/resource/images/deepblue/icons.png?v=0212") no-repeat; width:16px; height:16px; background-position:-8px -175px; cursor:pointer; float:left;margin-left:6px;}

.yanrror{ clear:both; margin-top:8px;}
.users{height: 25px;}
h1{color:#575757;font-size:16px;margin:40px 0 20px 50px;font-weight:normal;}
.other{margin:30px auto 0;width: 292px;height: 35px;}
.tips{font-size:12px;margin-left: 45px;}
.RegForm input{margin-left: 8px;}





.thgt{margin-top:20px;}
.p_tips{font-size:12px;color:#575757;line-height: 24px;margin-bottom: 20px;}
.process{width:1180px;height:107px;position:relative;padding-top:12px;}
ul li{float:left;}
.stInfo{padding-left:27px; margin-top:12px;}
.stInfo li{margin-right:286px;}
.stInfo li.reset{margin-right:296px;margin-left:10px;}
.stInfo li.done{margin-right:0px;}
.circle{padding-left:44px;}
.circle .stept{width:48px; height: 48px; background-color: #b2b2b2; -webkit-border-radius: 100px;-moz-border-radius:100px; border-radius: 100px; text-align:center; }
.circle .stepl{background:url("https://account.oppo.com/resource/images/deepblue/icons.png") no-repeat; width:48px; height:48px; background-position:-368px -40px;}
.num {padding-left:59px; position:absolute; top:20px; left:2px;}
.num li{margin-right:332px; color:#fff; font-size:22px;}
#now {  background-color: #409f73;}
.nowT{ color: #409f73;}
.line{background:url("https://account.oppo.com/resource/images/deepblue/icons.png") no-repeat; width:288px; height:8px; background-position:-136px -152px;margin-top:25px; margin-right:9px;}
.accout{width:1180px;height:256px;background:#fff;position:relative;padding-top:38px;}
.biaodan{position:absolute;top:48px;left:271px; }
.biaodan1{width:368px;margin:0 auto; }
.biaodan2{width:440px;margin:0 auto; }
.biaodan3{width:500px;margin:0 auto; }
.biaodan4{width:650px;margin:0 auto; }
.einfo{color:#575757; font-weight:500;font-size:15px;margin-right:2px;}
.einfo1{color:#575757; font-weight:500;font-size:15px;margin-right:2px;margin-left:14px;}
.einfo2{color:#575757; font-weight:500;font-size:15px;margin-right:2px;margin-left:30px;}
.accout .gBtn{width:120px; height:41px;}
.accout #Regyan{ display:block;}
.verifyBox { float:left;}
.another{width:500px;}
.another #Regyan{float:left;}
.verblock .einfo{float:left;line-height:37px; margin-right:8px;}
.yanzheng .verblock{float:left;}
.notfind_error{text-align: center; margin-top: 53px;}
.notfind_tips{text-align: center; margin-top: 13px;}
.tel{color: #409F73;font-weight: bold;}
.notfind{display:none;}
.subBtn{margin-top: 20px;}
.gBtn1{border: medium none;border-radius: 3px;color: #FFFFFF;cursor: pointer;font-size: 16px;line-height: 41px;padding: 9px 20px;background-color: #E57368;}
#identify{margin: 5px;}
.idway{margin: 0px 10px;}



.accoutT{width:1180px;height:360px;background:#fff;position:relative;}
.accoutT .gBtn{width:120px; height:41px;margin-top:19px;}
.Mesbtn { width:122px; height:35px; background-color:#eaeaea; border:#dadada solid 1px; -webkit-border-radius: 2px;-moz-border-radius:2px; border-radius:2px; color:#575757; margin-left:2px;cursor:pointer; font-weight:500; }
.Mesbtn1 {background-color: #EAEAEA;border: 1px solid #DADADA;border-radius: 2px;color:#CCCCCC;cursor: pointer;font-weight: 500;height: 37px;margin-left: 2px;width: 122px;}
.Mesbtn2 {background-color: #EAEAEA;border: 1px solid #DADADA;border-radius: 2px;cursor: pointer;font-weight: 500;height: 37px;margin-left: 2px;width: 122px;color:#CCCCCC;}
.Mesbtn3 {background-color: #EAEAEA;border: 1px solid #DADADA;border-radius: 2px;color: #575757;cursor: pointer;font-weight: 500;height: 37px;margin-left: 2px;width: 122px;}
.biaodanT{margin: 0 auto;padding-top: 45px;width: 400px;}
.rename {padding-left:105px; margin-top:25px; margin-bottom:25px;}
.accoutT .doneVer{margin-top: 23px;}
.accoutT .yanzheng {margin-top:23px;}
.tel{color:#22a174;}
.chooseway{ background:url("https://account.oppo.com/resource/images/deepblue/right_03.png") no-repeat right; cursor:pointer;}
.menu { border-bottom:#dadada solid 1px; border-left:#dadada solid 1px; border-right:#dadada solid 1px; height:61px; width:289px; position:absolute; top:37px; left:146px; font-size:13px; color:#575757; display:none; }
.menu .cell{ height:20px; background-color:#f6f6f6; padding-left:5px; padding-top:5px; padding-bottom:5px;}
.menu .myemail{ height:20px; padding-left:5px;padding-top:5px; padding-bottom:5px;}
.accoutT .verify{ float:none;}




.accoutTh{ width:1180px;height:271px;background:#fff;position:relative;}
#nowT{ color:#409f73;}
.strong { padding-left:87px; padding-top:4px;}
.strong span{ width:95px; height:15px; background-color:#409f73; opacity:0.7; filter:alpha(opacity=70); -moz-opacity:0.7; float:left; color:#e6f2ec; margin-right:2px; text-align:center; font-size:12px;}
.strong .default{  opacity:1; filter:alpha(opacity=100); -moz-opacity:1;}
.comfirm{ clear:both; padding-top:15px;}
.accoutTh .gBtn{width:111px; height:41px; margin-left:87px; margin-top:19px; }
.biaodanTh{ margin: 0 auto;width:400px;}
.gBtn2{background-color: #409F73;margin-left: 84px;}





.stepdone { background:url("https://account.oppo.com/resource/images/deepblue/icons.png") no-repeat; width:48px; height:48px; background-position:-368px -96px; float:left;}
#realdone{ color:#409f73;}
.accoutf{ height: 164px;padding-top: 40px;background:#fff; }
.suc{float:left; color:#00925f; font-size:20px; font-weight:500; padding-top:11px; padding-left:13px;font-weight: bold;}
.suc1{color: #00925F;font-size: 20px;font-weight: 500;text-align: center;}
.rem{ clear:both; font-size:14px; padding-left:60px; float:left;}
.home a{ color:#0088cc; font-size:14px; float:left; margin-left:24px;}
.home a:hover{ color:#00925f; }
.suinfo{margin: 0 0 0 280px;width:600px;}
.suinfo1{margin: 0 auto;width:300px;}
.fritip{ clear:both;margin-top: 8px;}
#stepFour{display:none;}
.errorTips{width: 500px; margin: 0px auto;}
.redirecttips{font-size: 12px; text-align: center; margin-top: 10px;}




.containerReg{ height:736px; background-color:#f6f6f6; padding-top:37px;}
.RegBox{width:1180px; height:486px; margin:0 auto; background-color:#fff; position:relative; margin-top:16px;}
.agreement{height:116px; overflow:auto; width:367px; display:none; margin-left:70px; margin-top:10px;}
.agreement p{ font-size:14px;}
.fillBox .pEor{ float:left; margin-left:15px;}
.fillBox .eInfo{ float:left;}
.username{ float:left; padding-left:15px;}
.login{ clear:both; margin: 0 !important;}
.fillBox{ padding-left:41px;}
.strong{ padding-left: 69px;display: none;}
.makesure{ clear:both; margin-top: 20px;}
.makesure .pEor{ float:left;}
.fillBox .yanzheng{ clear:both; padding-left:15px; float:left;}
.showma{background:url("https://account.oppo.com/resource/images/deepblue/icons.png") no-repeat; width:16px; height:16px; background-position:-64px -80px; float:left;  margin-top:37px; margin-left:20px;*/}
.username,.login,.makesure,#Phoneyan,#Regyan{margin-bottom: 20px;width: 685px; line-height: 37px;}
.fillBox .gBtn{ clear:both;  margin-left:71px; margin-top:22px;}
.fillBox { margin-top:15px; margin-left:336px; width:685px;}
.RegTitle,.active{padding-top:40px; margin-left:448px; width:300px;}
.active{padding-top:10px;color:#ff5858;}
.free_l a,.RegTitle a{color: #0088cc;}
.free_l a:hover,.RegTitle a:hover{text-decoration:underline;}
.fillBox #RpUnmatch{ margin-top:28px; display:none;}
.fillBox .Mesbtn{ width:144px; height:38px; margin:0 4px;}
.protocol{ margin-left:73px;margin-top: 20px;color:#b4b4b4;}
.MessBox { height:237px; width:371px; border:#eaeaea solid 5px; position:absolute; top:40px; right:50px;}
.edit{ font-size:14px; text-align:center; margin-top:18px;}
.green{ color:#409f73;}
.telephone{ text-align:center; font-size:24px;}
.qucik{ height:111px; width:321px; border-bottom:#dadada solid 1px; margin:0 auto; padding-bottom:3px;}
.phone{ background:url("https://account.oppo.com/resource/images/deepblue/icons.png") no-repeat; width:86px; height:72px; background-position:-138px -168px; margin-left:117px; margin-top:30px;}
.phoneT{ font-size:20px; text-align:center; margin-bottom:3px;}
.yangshow{ width:400px;}
#hasdone{float: right;margin-right: 173px;margin-top: 9px;}
#showverify{ display:none;}
.yantip{ font-size:13px; color:#c7c7c7; margin-left:69px; display:none;}
.select{ height:209px; width:290px; border:1px solid #dadada; position:absolute; top:36px; left:110px; background:#ffffff; z-index:999; color:#575757; display:none;font-size: 13px;}
.select li{ height:26px; padding-left:5px;}
.select #ok{ background-color:#f6f6f6;}
.protocol a:hover{text-decoration:underline;}
.reg{clear:both}
.verBlock{clear: both;margin-left: 13px;}
.protype{clear: both;margin: 0 70px;}
.right1{ background: url("https://account.oppo.com/resource/images/deepblue/icons.png") no-repeat scroll -64px -56px rgba(0, 0, 0, 0);display: none;height: 16px;width: 16px;top: 92px;}
.error_pass{position: absolute;top: 66px;}
.error_confirm{position: absolute;top: 141px}
.error_code{position: absolute;top: 197px}







.RegSuccess{ padding-top:17px;}
.RegSuccess .accoutf{height:432px;}
.suinfo span{line-height: 48px;}
.RegSuccess .Mesbtn{ clear:both;  display:block;}
.usrinfo{ font-size:14px;width: 710px;margin: 0 auto 0 340px;}
.mobile{color: #00925F;}
.shop{ margin: 20px 0 0 285px;width: 500px;}
.goshop{padding: 9px 30px;width: 62px;  background-color: #EAEAEA;border: 1px solid #DADADA;border-radius: 2px;cursor: pointer;font-size: 15px;margin-left: 54px;float:left;cursor:pointer;}
.RegSuccess  a:hover{ color:#00925f; text-decoration:underline;}
.veriBox{ height:199px; width:809px; border:#eaeaea solid 5px; margin-top:15px; margin-left:57px; position:relative;}
.usrreg{ position:absolute; top:30px; left:54px;}
.emailreg{  position:absolute; top:30px; left:54px; }
.usrreg .Mesbtn{ margin-left:0px; clear:none;}
.tip { color:#de5044; font-size:17px; font-weight:600;}
.email{ margin-top:23px;}
.give{float:left; margin-right:10px;}
.RegSuccess  .suinfo{ left:160px;}
.reg-redirect{font-size: 12px; width: 100px; color: rgb(135, 135, 135); float: left; vertical-align: middle; text-decoration: underline; padding: 12px 0px 0px 10px;}
.para{ font-size:14px; margin-top:20px;}
.emailreg{ display:none;}
.usrreg{ display:block;}



.veriBox .gBtn { background-color:#e57368; width:86px; height:32px; margin-top:10px;}


.lead-tips{background: none repeat scroll 0 0 #FFFFFF;border: 5px solid #B6B3B4;border-radius: 5px 5px 5px 5px;bottom: 50%;color: #666666;font-size: 14px;height: auto;left: 38%;padding-bottom: 35px;position: absolute;text-align: center;width: 500px;z-index: 9999;}
.bg-fc{background: none repeat scroll 0 0 #000000;height: 100%;left: 0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";opacity: 0.4;filter:alpha(opacity=40);position: absolute;top: 0;width: 100%;z-index: 100;}
.close{float: right;position: absolute;right: 8px;top: 4px;}
.banner-tips{background: none repeat scroll 0 0 #00925f;height: 30px;margin-bottom: 30px;width: 500px;}
.remind{float: left;color: #ffffff;font-weight: bold;margin: 4px 8px 0;}
.redirect{text-align: center; margin-top: 20px; width: 500px; font-size: 12px;color: #999999;}
.revise-pwd{color:#00925F;}


.emailist{border:1px solid #bdbdbd;background-color:#fff; color:#999999; font-size:14px; list-style-type:0; padding:0; margin:0; overflow:hidden;width:290px;}
.emailist li{padding:2px 7px; cursor:pointer;width:100%;line-height:24px;}
.emailist .on, .emailist li:hover,.focus_box{background-color:#eee;}
.out_box{border:1px solid #ccc; background:#fff; font:12px/20px Tahoma;}
.list_box{border-bottom:1px solid #eee; padding:0 5px; cursor:pointer;}
.focus_box{background:#f0f3f9;}
.mark_box{color:#c00;}


.error_tips{color: #409F73;font-size: 20px;font-weight: bold;margin-bottom: 20px; margin-top: 55px; text-align: center;}
.error_redirect{color: #999999;font-size: 12px;text-align: center;}

.wel_reg{font-size: 24px;color: #028c58;}
