<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>11210C01之家</title>

<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="css/orman.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />

<link rel="stylesheet" type="text/css" href="css/ddsmoothmenu.css" />

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js"></script>
<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}

</script>

<link rel="stylesheet" href="css/slimbox2.css" type="text/css" media="screen" /> 
<script type="text/JavaScript" src="js/slimbox2.js"></script> 
</head>

<body>

<div id="templatemo_wrapper_h">
<div id="templatemo_header_wh">
	<div id="templatemo_header" class="header_home">
    	<div id="site_title"><a href="./index.php" ></a></div>
        <div id="templatemo_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="index.php" class="selected">主页</a></li>
                <li><a href="products.html">我们的相册</a>
                    <ul>
                        <li><a href="./gallerys.php" >班级活动</a></li>
                        <li><a href="http://www.cssmoban.com/" >宿舍精彩</a></li>
                        <li><a href="http://www.cssmoban.com/" >个人展示</a></li>
                  	</ul>
                </li>
                <li><a href="checkout.html">班级动态</a></li>
                <li><a href="contact.html">通讯录</a></li>
                  <li><a href="about.html">关于</a></li>
                <!--<li><a href="faqs.html">FAQs</a></li>-->
            </ul>
            <div id="templatemo_search">
                <form action="#" method="get">
                  	<input type="text" value="全站搜索" name="keyword" id="keyword" title="keyword" 
                  			onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
                  	<input type="submit" name="Search" value="" alt="搜索" id="searchbutton" title="Search" class="sub_btn" />
                </form>
            </div>
            <br style="clear: left" />
        </div> 
        <a href="#" title="visit "  class="site_repeat" target="_blank"><img src="images/top_repeat.png"  alt="visit " /></a><!-- end of templatemo_menu -->

        <div class="slider-wrapper theme-orman">
            <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
            
            
                <img src="images/portfolio/01.jpg" alt="slider image 1" title="我们的全家福"/>
                <a href="">
                	<img src="images/portfolio/02.jpg" alt="slider image 2" title="激情C01  快乐共分享" />
                </a>
                <img src="images/portfolio/03.jpg" alt="slider image 3" title="相亲相爱一家人"/>
                <img src="images/portfolio/04.jpg" alt="slider image 4" title="和同学们在一起 干活都不累了" />
                <img src="images/portfolio/05.jpg" alt="slider image 5" title="精彩的班会" />
                
                
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>Example</strong> caption with <a href="#" >a credit link</a> for <em>this slider</em>.
            </div>
        </div> 
		<script type="text/javascript" src="js/jquery-1.6.1.min.js"></script>
        <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
        <script type="text/javascript">
        $(window).load(function() {
            $('#slider').nivoSlider({
				controlNav:false
			});
        });
        </script>
    </div> <!-- END of header -->
</div> <!-- END of header wrapper -->
<div id="templatemo_main_wrapper">
<div id="templatemo_main">
	<?php include "./left.php";?>
    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >Website Template</a></div>
    <div id="content" class="right">
		<h2>欢迎来到C01之家</h2>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;软件学院11210C01班成立于2012年9月，现有班级成员32人，大三学年，我们班同学在班主任贾美丽老师的带领下，团结拼搏，与时俱进，在各方面取得了优异的成绩。</p>
        <p>
<b>精诚团结，我的班级我的家</b></p>
</h2>
       <p>&nbsp;&nbsp;&nbsp;&nbsp;自班级组建以来，班委们利用主题班会，团日活动等形式开展集体活动。我班主题班会曾获得学院主题班会评比一等奖，以"三生观"为主题的团日活动，通过组织大家看电影感悟生活，知识竞赛增进感情，校园采访感悟人生三个模块为大家树立了正确的生命观，增强爱心和社会责任感，获得软件学院团日活动答辩二等奖，并被评为中北大学优秀团日活动。
       </p>
<p> 
<b>多彩生活，活出魅力人生</b></p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;班级同学课外生活丰富多彩，积极主动参加各种校院活动并取得了优异成绩：演讲比赛、春华杯辩论赛、科普知识竞赛、模拟营销大赛、篮球赛、股票大赛等比赛都能见到我班同学的身影。全班80%同学有过学生会及社团工作经历，其中近十人担任副部级以上职务。
</p>
<p> <b>服务社会，方显青春本色</b>
</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;此外，班级同学积极参加学校的各项志愿服务活动，在实践中服务他人，锻炼自己，平均每人每年至少有两次志愿服务经历。也多次组织集体性的公益劳动。据统计，我班共有山西省大中学生运动会志愿者8名，占班级人数25%，共有太原市国际马拉松志愿者3名，班内半数以上同学至少有过一次无偿献血经历。同学们对志愿工作的热情正是见证了"尽己所能，不计报酬，帮助他人，服务社会，践行志愿精神，传播先进文化，为构建和谐社会贡献力量"的志愿者誓言。
</p>
<p> 
&nbsp;&nbsp;&nbsp;&nbsp;我们是IT时代的践行者，用一行行代码写下青春无悔，我们是人生的追梦者，用一份份荣誉向青春致敬。两年来，我们风雨同舟，携手共进，四年中北人，一生中北魂，这片土地见证着我们每一个人的成长，执着和勇气为我们带来自信，失败和挫折让我们更加强大，并勇往直前地开拓创新出一条通向成功之路。路漫漫其修远兮，我们将坚持认真学习，结合自身的专业特色，以我们特有的执着和勇敢，昂首向前，力争在未来的道路上创造出更大的辉煌，是因为我们相信：我们的未来不是梦！
</p>
    </div>
    <div class="cleaner"></div>
</div> <!-- END of main -->
</div> <!-- END of main wrapper -->

<div id="templatemo_footer_wrapper">
<div id="templatemo_footer">
	<div class="footer_left">
    	<a href="#"><img src="images/1311260370_paypal-straight.png" alt="Paypal" /></a>
        <a href="#"><img src="images/1311260374_mastercard-straight.png" alt="Master" /></a>
        <a href="#"><img src="images/1311260374_visa-straight.png" alt="Visa" /></a>
    </div>
	<div class="footer_right">
		<p><a href="index.php">Home</a> | <a href="products.html">Products</a> | <a href="about.html">About</a> | <a href="faqs.html">FAQs</a> | <a href="checkout.html">Checkout</a> | <a href="contact.html">Contact</a></p>
        <p>Copyright © 2084 <a href="#">Company Name</a> | Collect from <a href="http://www.cssmoban.com/" title="模板之家">模板之家</a></p>
	</div>
    <div class="cleaner"></div>
</div> <!-- END of footer -->
</div> <!-- END of footer wrapper -->
</div>

</body>
<script type='text/javascript' src='js/logging.js'></script>
</html>