<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人中心</title>
<meta name="keywords"
	content="free template, faqs, floral shop, ecommerce, online shopping, store" />
<meta name="description"
	content="Floral Shop, FAQs or Frequently Asked Questions, free theme for online shopping sites" />
<link href="__CSS__/templatemo_style.css" rel="stylesheet"
	type="text/css" />

<link rel="stylesheet" href="__CSS__/orman.css" type="text/css"
	media="screen" />
<link rel="stylesheet" href="__CSS__/nivo-slider.css" type="text/css"
	media="screen" />

<link rel="stylesheet" type="text/css" href="__CSS__/ddsmoothmenu.css" />

<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/ddsmoothmenu.js">
	/***********************************************
	 * Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
	 * This notice MUST stay intact for legal use
	 * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
	 ***********************************************/
</script>

<script type="text/javascript">
	ddsmoothmenu.init({
		mainmenuid : "templatemo_menu", //menu DIV id
		orientation : 'h', //Horizontal or vertical menu: Set to "h" or "v"
		classname : 'ddsmoothmenu', //class added to menu's outer DIV
		//customtheme: ["#1c5a80", "#18374a"],
		contentsource : "markup" //"markup" or ["container_id", "path_to_menu_file"]
	})

	function clearText(field) {
		if (field.defaultValue == field.value)
			field.value = '';
		else if (field.value == '')
			field.value = field.defaultValue;
	}
</script>
</head>
<body>
	<include file="common/top_nav" />
	<div id="templatemo_wrapper_sp">
		<div id="templatemo_header_wsp">
			<div id="templatemo_header" class="header_subpage">
				<div id="site_title">
					<a href="http://www.cssmoban.com/" title="模板之家">模板之家</a>
				</div>
				<div id="templatemo_menu" class="ddsmoothmenu">
					<include file="common/nav" />
					<include file="common/search" />
					<br style="clear: left" />
				</div>
				<a href="#" title="版税免费图像" class="site_repeat" target="_blank"><img
					src="__IMG__/top_repeat.png" title="版税免费图像" alt="版税免费图像" /></a>
				<!-- end of templatemo_menu -->

			</div>
			<!-- END of header -->
		</div>
		<!-- END of header wrapper -->
		<div id="templatemo_main_wrapper">
			<div id="templatemo_main">
				<div id="sidebar" class="left">
					<div class="sidebar_box"><span class="bottom"></span>
            <h3>个人头像<block name="faceImg_change_btn"></block></h3>   
            <div class="content special"> 
                <img src="{$user.userinfo.faceImg}" alt="Flowers" style="max-width:220px;" />
                
            </div>
        </div>
				</div>
				<div id="content" class="right faqs">
					<h2>{$contentTitle}<block name="userInfoEditBtn"></block></h2>
					<h3>基本资料</h3>
					<hr></hr>
					<table width="100%">
						<tr>
							<td width="10%" align="right"><h4>姓名</h4></td>
							<td width="5%"></td>
							<td width="85%"><h4>{$user.userinfo.true_name}</h4></td>
						</tr>
						<tr>
							<td  align="right"><h4>所属班级</h4></td>
							<td></td>
							<td><h4>{$user.class.classname}</h4></td>
						</tr>
						<tr>
							<td align="right"><h4>性别</h4></td>
							<td></td>
							<td><h4>{$user.userinfo.sex}</h4></td>
						</tr>
						<tr>
							<td align="right"><h4>个性签名</h4></td>
							<td></td>
							<td><h4>{$user.userinfo.signature}</h4></td>
						</tr>
					</table>
					<div class="clear h40"></div>
					<h3>联系信息</h3>
					<hr></hr>
					<table width="100%">
						<tr>
							<td width="10%" align="right"><h4>手机</h4></td>
							<td width="5%"></td>
							<td width="85%"><h4>{$user.userinfo.telphone}</h4></td>
						</tr>
						<tr>
							<td align="right"><h4>QQ</h4></td>
							<td></td>
							<td><h4>{$user.userinfo.qq}</h4></td>
						</tr>
						<tr>
							<td align="right"><h4>家庭住址</h4></td>
							<td></td>
							<td><h4>{$user.userinfo.address}</h4></td>
						</tr>
						<tr>
							<td align="right"><h4>微博</h4></td>
							<td></td>
							<td><h4>{$user.userinfo.weibo}</h4></td>
						</tr>
						<tr>
							<td align="right"><h4>邮箱</h4></td>
							<td></td>
							<td><h4>{$user.userinfo.email}</h4></td>
						</tr>
						
					</table>
				</div>

				<div class="cleaner"></div>
			</div>
			<!-- END of main -->
		</div>
		<!-- END of main wrapper -->

		<div id="templatemo_footer_wrapper">
			<div id="templatemo_footer">
				<div class="footer_left">
					<a href="#"><img src="__IMG__/1311260370_paypal-straight.png"
						alt="Paypal" /></a> <a href="#"><img
						src="__IMG__/1311260374_mastercard-straight.png" alt="Master" /></a>
					<a href="#"><img src="__IMG__/1311260374_visa-straight.png"
						alt="Visa" /></a>
				</div>
				<div class="footer_right">
					<p>
						<a href="index.php">Home</a> | <a href="products.html">Products</a>
						| <a href="about.html">About</a> | <a href="faqs.html">FAQs</a> |
						<a href="checkout.html">Checkout</a> | <a href="contact.html">Contact</a>
					</p>
					<p>
						Copyright © 2084 <a href="#">Company Name</a> | Collect from <a
							href="http://www.cssmoban.com/" title="模板之家">模板之家</a>
					</p>
				</div>
				<div class="cleaner"></div>
			</div>
			<!-- END of footer -->
		</div>
		<!-- END of footer wrapper -->
	</div>

</body>
<script type='text/javascript' src='__JS__/logging.js'></script>
</html>