@charset "utf-8";



* {  margin:0; padding:0; -webkit-text-size-adjust:none; } 
ul,li { list-style:none; }
img { border:none; }
a { text-decoration:none; color:#474747;}
.header a:hover{ text-decoration:underline;}

.clearfix:after { content: '\20'; display: block; height: 0; clear: both; }
.clearfix { *zoom: 1; }



.header { background-color:#ffffff; height:91px; border-top:#00925f solid 3px; border-bottom:#e1e1e1 solid 3px;}
.logo a{display:block; width:168px; height:26px; background-position:0 0; float:left;}
.site-nav-title{float:left; border-left:#dadada solid 2px; margin-left:13px; padding-left:10px; height:26px;line-height:20px;}
.header .site-nav-right { padding-top:30px;}
.sus{ border-right:#dadada solid  1px; padding-right:14px;}



.container {  background-color:#f6f6f6; padding-bottom:262px;}



.footer { border-top:#000000 solid 5px; height:73px; background-color:#2b2b2b; position:relative; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; font-family:"微软雅黑","黑体","宋体","Arial","Times New Roman";position: absolute;;width: 100%;}
.foot-bt-links .lang-tip ,.foot-bt-links .lang{ background:url("https://account.oppo.com/resource/images/deepblue/icon.png") no-repeat;}
.foot-bt{ height: 70px; background: #2b2b2b; border-top: 5px solid #000; margin-top:300px;}
.foot-bt-content{ width: 1180px; margin: 0 auto;}
.ft-logo{ width: 100px; height: 20px; background-position: -440px 0; float: left; margin-top: 31px;}
.ft-info{ color: #828282; float: left; margin-left: 20px; margin-top: 28px;}
.foot-bt-links{ float: right; padding-top: 25px;}
.foot-bt-links a{ padding-left: 40px; color: #e2e2e2; float: left;}
.foot-bt-links .lang{ padding-right: 15px; float: left; position: relative; background-position: 90px -972px;}
.foot-bt-links .lang-tip{ background-position: 69px -962px }
.lang-other{ display: none; position: absolute; border: 1px solid #878787; top: -125px; left: 20px; background-color: #000;}
.lang-other a{ display: block; float: none; padding: 10px 19px;} 
.lang-hover .lang-other{ display:block;}
.lang-hover .lang-now{ visibility: hidden;}
.footer a:hover{ color:#00925f;}





body{font-family:"microsoft yahei","黑体","宋体","Arial","Times New Roman";background-color: #F6F6F6;color: #727272;font-size: 14px;}
.wrapper{ width:1180px; margin:0 auto; padding-top:25px;}
.site-nav-right{float:right; font-size:18px;}
.site-nav-right li{float:left; padding-left:11px;}
.site-nav-right li a:hover{ color:#00925f;}
button,input{ font-family:微软雅黑,黑体,宋体,"Arial","Times New Roman";line-height:35px;}



