<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__CSS__/common.css" type="text/css" />
<title>管理员列表</title>
</head>

<body>
<div id="man_zone">
  <table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
	<form action="{:U('user/doadd')}" method="post">
		<tr>
		  <td width="25%" class="left_title_1"><span class="left-title">用户名</span></td>
		  <td><input type="text" name="username"></td>
		</tr>
		<tr>
		  <td width="25%" class="left_title_1"><span class="left-title">所属班级</span></td>
		  <td><select name="class_id">
		  	<option>---请选择---</option>
		  	<volist name="class" id="vo">
		  		<option value="{$vo.id}">{$vo.classname}</option>
		  	</volist>
		  </select></td>
		</tr>
		<tr>
		  <td width="25%" class="left_title_1"><span class="left-title">密码</span></td>
		  <td><input type="password" name="password" /></td>
		</tr>
		<tr>
		  <td width="25%" class="left_title_1"><span class="left-title">再次输入密码</span></td>
		  <td><input type="password" name="repassword" /></td>
		</tr>
		
		<tr>
		  <td width="25%" class="left_title_1"><span class="left-title">选择角色</span></td>
		  <td>学生：<input type="radio" name="role" value="0" checked>
		  	教师：<input type="radio" name="role" value="3">	
		  </td>
		</tr>
		<tr>
		  <td width="25%" class="left_title_1"></td>
		  <td><input type="submit" value="提交"></td>
		</tr>
	</form>
  </table>
</div>
</body>
</html>
