<link rel="stylesheet" href="__CSS__/common.css" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EEF2FB;
}
-->
</style>
<script>
  function confirm_check(){
    var returnVal = window.confirm("添加数据成功\n是否继续添加?", "标题"); 
    if(returnVal) { 
      return true;
    }else{
      return false;
    }
  }
</script>
<body>
          <div id="man_zone">
            <table width="99%" border="0" align="center"  cellpadding="4" cellspacing="1" class="table_style">
              <tr>
                <td width="5%" class="left_title_1" style="text-align:left"><span class="left-title">编号</span></td>
                <td width="20%" class="left_title_1" style="text-align:left"><span class="left-title">学院</span></td>
               <td width="20%" class="left_title_1" style="text-align:left"><span class="left-title">班级名称</span></td>
                <td width="35%" class="left_title_1" style="text-align:left"><span class="left-title">描述</span></td>
                 <td width="25%" class="left_title_1" style="text-align:left"><span class="left-title">操作</span></td>
              </tr>
                <!-- 循环遍历查询出的数据 -->
 <volist name ="data" id ='vo'>
                <tr>
                  <td>{$vo.id}</td>
                  <td>{$vo.academy.name}</td>
                  <td>{$vo.classname}</td>
                  <td>{$vo.description}</td>
                  <td><a href="{:U('update')}?id={$vo.id}">修改</a> <a href="{:U('delete')}?id={$vo.id}" onclick="confirm_check()">删除</a></td>
                </tr>
</volist>

               <tr>
                <td align="left" colspan="5" valign="top" class="fenye">
                    {$page}
                 </td> 
              </tr>
          </table>
</div>
</body>
